* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../src/images/background.png');
  /* background-size: contain; */
}

h1 {
  color: white;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 30px;
  border-radius: 50px;
  font-family: 'Chakra Petch', sans-serif;
}

h2 {
  color: white;
  font-size: 2.7rem;
  margin: 50px auto;
  text-align: center;
  width: 30%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.801);
  box-shadow: 0 0 20px rgb(214, 214, 214);
  border-radius: 30px;
  font-family: 'Chakra Petch', sans-serif;
}

.planetTypes {
  display: flex;
  justify-content: center;
 /* flex-wrap: wrap; */
  align-items: end;
}

.planetNames {
  color: white;
  margin-top: 8px;
  font-size: 1.3rem;
  font-family: 'Chakra Petch', sans-serif;
}

.planetCards {
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 18.5%;
}

.missionCards {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.61);
  box-shadow: 0 0 20px rgb(214, 214, 214);
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 1.2rem;
  height: 200px;
  margin: 25px;
  width: 15%;
  text-align: center;
}

.missionTypes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Chakra Petch', sans-serif;
}

.planetCards img {
  width: 70%;
  text-align: center;
}

.planetCards:hover img {
  transition: 3.6s;
  filter: grayscale(20%);
  transform: scale(1.5) rotate(360deg);
}

.missionCards:hover {
  background-color: rgba(0, 0, 0, 0.877);
  cursor: pointer;
}

.planetCards:hover {
  cursor: pointer;
}

.mercurio {
  margin: 0% 1%;
  width: 60px;
}

.venus {
  margin: 0% -1%;
  width: 140px;
}

.terra {
  margin: 0% -1%;
  width: 150px;
}

.marte {
  margin: 0% 0%;
  width: 100px;
}

.jupiter {
  margin: 0% -2%;
  width: 340px;
}

.saturno {
  margin: 0% -2%;
  width: 320px;
}

.urano {
  margin: 0% -3%;
  width: 230px;
}

.netuno {
  margin: 0% 0%;
  width: 210px;
}